<!-- <span>{{ message }}</span> -->
<!-- <div>Component Content</div>ng g c login -->
<!-- <app-welcome></app-welcome> -->
<!-- <app-login></app-login> -->
<!-- <button>Login</button> -->
<!-- <router-outlet></router-outlet>
<app-menu></app-menu> -->
            <!-- <router-outlet></router-outlet> -->
            <!-- <app-footer></app-footer> -->
            <app-menu></app-menu>

        <div class="container">
            <router-outlet></router-outlet>
        </div>


        <app-footer></app-footer>